.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 40px;
  width: 100vw;
}

.App h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
}

.spinner {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ebebeb;
  z-index: 1000;
}
