.Footer{
    margin-top: 200px;
    width: 100%;
    max-width: 1440px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-inline: auto; 
    background: #433f3fe9;


}

.Footer-Text{
    margin-top: 30px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    gap: 30px;
    color: #e6e3e3;
}


.Footer-github{
    margin-top: 16px;
    height: 60px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #e6e3e3;
}