.newline-hint {
    display: flex;
    gap: 5px;
    background-color: #7d859d;
    border-radius: 8px;
    font-size: 14px;
    color: #4B5563;
    top: 50%; 
    right: 20px; 
    align-self: flex-end;
    padding: 4px 8px;
    
}

.key-combo {
    display: flex;
    align-items: center;
    color: #000;
    gap: 4px;
    
}

.k_button {
    padding: 4px 8px;
    background: white;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.1);
    font-family: monospace;
    border : 1px solid #1b212e;
}
