.newline-hint {
    position: fixed;
    top: 185px; ;
    right: 265px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    background-color: #F8F9FC;
    border-radius: 8px;
    font-size: 14px;
    color: #4B5563;

    

}

.key-combo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.k_button {
    padding: 4px 8px;
    background: white;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.1);
    font-family: monospace;
    border : 1px solid #1b212e;
}